body {
    overflow: hidden; /* Prevent scrolling on the body element */
  }


.home-container{
/* displays the budget and expense containers side by side */
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 25px;
padding-right: 30px;
padding-left: 30px;
margin: 0 auto;
height: 100px;

}

.left-side {
    margin-bottom: 10px ;

}

.right-side {
  
    margin: 0 auto;
    
    width:100%;
    margin-left: 10%;
   
    
    
}

.income-bar {
    margin-bottom: 5%;
}




